@{
    ViewData["Title"] = "Details";
}
@model PizzaModel;

<div class="pizza-details-card">
    <img class="card-img" src="@Model.Image">
    <h4 class="pizza-title">@Model.Name</h4>
    <div class="pizza-ingredient"> @Model.Ingredients </div>
    <div class="card-footer">
        <div class="card-price">@Model.Price &#8381;</div>
        <div class="card-weight">@Model.Weight гр.</div>
        <a href="#" class="button-link">В корзину</a>
    </div>
</div>
   



