@{
    ViewData["Title"] = "Home Page";
}
@using TaskFour.Models;
@model List<PizzaModel>;

<a class="button-link-Edit">Добавить пиццу</a>

<div class="my-flex-container">
    @foreach(var item in Model){
        <div class="flex-card">
            <img id="my-img" class="card-img" data-id="@item.Id" src="@item.Image">
            <div id ="open-modal" data-id="@item.Id" class="card-name" >@item.Name</div>
            <div class="card-ingredients"> @item.Ingredients </div>
            <div class="card-footer">
                <div class="card-price">@item.Price &#8381;</div>
                <div class="card-weight">@item.Weight гр.</div>
                <a href="#" class="button-link">В корзину</a>
                <a data-id="@item.Id" class="button-link-Edit">Изменить</a>
                <a data-id="@item.Id" class="button-link-Delete">Удалить</a>
            </div>
        </div>
    }

    <!-- Модальное окно -->
    <div class="modal fade" id="pizzaModal" tabindex="-1" role="dialog" aria-labelledby="pizzaModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pizzaModalLabel">Пицца</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <img id="modalImg" src="" class="img-fluid mb-3" />
                    <p id="modalIngredients"></p>
                    <p><strong>Цена:</strong> <span id="modalPrice"></span> &#8381;</p>
                    <p><strong>Вес:</strong> <span id="modalWeight"></span> гр.</p>
                </div>
            </div>
        </div>
    </div>
</div>

 @section scripts
{
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/indexNew.js"></script>
}   
   