@{
    ViewData["Title"] = "Home Page";
}
@using TaskTwo.Models;
@model List<PizzaModel>;



<div class="my-flex-container">
    @foreach(var item in Model){
        <div class="flex-card">
            <img id="my-img" class="card-img" data-id="@item.Id" src="@item.Image">
            <div id ="open-modal" data-id="@item.Id" class="card-name" >@item.Name</div>
            <div class="card-ingredients"> @item.Ingredients </div>
            <div class="card-footer">
                <div class="card-price">@item.Price &#8381;</div>
                <div class="card-weight">@item.Weight гр.</div>
                <a href="#" class="button-link">В корзину</a>
            </div>
        </div>
    }

    <div class="modal fade" id="pizzaModal" tabindex="-1" role="dialog" aria-labelledby="pizzaModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pizzaModalLabel">Пицца</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img id="modalImg" src="" class="img-fluid mb-3" />
                    <p id="modalIngredients"></p>
                    <p><strong>Цена:</strong> <span id="modalPrice"></span> &#8381;</p>
                    <p><strong>Вес:</strong> <span id="modalWeight"></span> гр.</p>
                </div>
            </div>
        </div>
    </div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>     
        $('.card-name').on('click', function (e) {
            const $card = $(this).closest('.flex-card');
            const pizza = {
                name: $(this).text(),
                image: $card.find('.card-img').attr('src'),
                ingredients: $card.find('.card-ingredients').text(),
                price: $card.find('.card-price').text(),
                weight: $card.find('.card-weight').text()
            };

            ShowPizza(pizza);
        });


    

        $('.card-img').on('click', function (e) {
            const pizzaId = $(this).data('id');

            $.ajax({
                url: '/Home/GetPizzaById',
                type: 'GET',
                data: { id: pizzaId },
                success: function (pizza) {
                    if (pizza.error) {
                        alert(pizza.error);
                        return;
                    }
                    ShowPizza(pizza); 
                },
                error: function () {
                    alert('Ошибка при получении данных о пицце.');
                }
            });
        });

        function ShowPizza(pizza) {
            $('#pizzaModalLabel').text(pizza.name);
            $('#modalImg').attr('src', pizza.image);
            $('#modalIngredients').text(pizza.ingredients);
            $('#modalPrice').text(pizza.price);
            $('#modalWeight').text(pizza.weight);
            $('#pizzaModal').modal('show');
        }
               
</script>