@{
    ViewData["Title"] = "Home Page";
}
@using TaskTwo.Models;
@model List<PizzaModel>;



<div class="my-flex-container">
    @foreach(var item in Model){
        <div class="flex-card">
            <img id="my-img" class="card-img" data-id="@item.Id" src="@item.Image">
            <h4 id ="open-modal" data-id="@item.Id" class="card-name" >@item.Name</h4>
            <div class="card-ingredients"> @item.Ingredients </div>
            <div class="card-footer">
                <div class="card-price">@item.Price &#8381;</div>
                <div class="card-weight">@item.Weight гр.</div>
                <a href="#" class="button-link">В корзину</a>
            </div>
        </div>
    }

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Заголовок модального окна</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   буквально Details...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</div>   



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    $('#open-modal').on('click', function(){
        var pizza = this.closest('flex-card')
        $('#myModal').modal('show');
    });

    
</script>