@{
    ViewData["Title"] = "Home Page";
}
@using TaskTwo.Models;
@model List<PizzaModel>;

<div class="my-flex-container">
    @foreach(var item in Model)
    {
        <div class="flex-card">
            <img onclick="imgClick()" class="card-img" src="@item.Image">
            <a id ="search1" href="Home/Details/@item.Id" class="card-name">@item.Name</a>
            <div class="card-ingredients"> @item.Ingredients </div>
            <div class="card-footer">
                <div class="card-price">@item.Price &#8381;</div>
                <div class="card-weight">@item.Weight гр.</div>
                <a href="#" class="button-link">В корзину</a>
            </div>
        </div>
    }
   


<script>

        function imgClick() {
            var href1 = $('#search1').attr('href')
            location.href= href1
        }
</script>